#!/bin/bash
set -e
set -u
set -o pipefail

# please use full path
export MUTECT=/home/xy293/Applications/mutect-1.1.7.jar
export VARSCAN=/home/xy293/Applications/VarScan.v2.3.9.jar
export SPEEDSEQ=/home/xy293/Applications/speedseq/bin/speedseq
export FREEBAYES=/programs/freebayes_v0.9.21-18-gc15a283-dirty/bin/freebayes
export PICARD=/home/xy293/Applications/picard-tools-1.138/picard.jar
export GATK=/home/xy293/Applications/gatk/GenomeAnalysisTK.jar
